* {
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.banner {
  padding: 0 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 225px;
  background-position: center;
  background-size: cover;
  border-radius: 25px;
}
.banner__text {
  color: white;
  font-size: 48px;
  font-weight: 500;
}

.card {
  position: relative;
  width: 340px;
  height: 340px;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}
.card__text {
  position: absolute;
  margin-right: 20px;
  left: 20px;
  bottom: 20px;
  color: white;
  font-weight: 500;
}

.accordion {
  position: relative;
  width: auto;
  background-color: #F6F6F6;
  border-radius: 10px;
}
.accordion__header {
  padding: 10px 20px 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FF6060;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
.accordion__header .accordion__title {
  margin: 0;
  font-size: 24px;
  font-weight: 500;
}
.accordion__header .accordion__icon {
  display: flex;
  font-size: 24px;
  font-weight: 500;
}
.accordion__content {
  box-sizing: border-box;
  opacity: 0;
  position: relative;
  padding: 0px;
  top: 100%;
  left: 0;
  width: 100%;
  overflow: hidden;
  color: black;
  transition: max-height 300ms ease, padding 300ms ease;
  max-height: 0;
}
.accordion__content.is-open {
  opacity: 1;
  padding: 20px;
  max-height: 500px;
}

.tag {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 115px;
  padding: 3px 14px;
  color: white;
  background-color: #FF6060;
  border-radius: 10px;
  font-size: 14px;
  line-height: 19.96px;
  font-weight: 500;
  text-align: center;
}

.carrousel {
  position: relative;
  height: 415px;
  color: white;
  border-radius: 25px;
  background-position: center;
  background-size: cover;
}
.carrousel__previous, .carrousel__next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 80px;
}
.carrousel__previous {
  left: 22px;
}
.carrousel__next {
  right: 22px;
}
.carrousel__navInfo {
  padding: 6px 16px;
  position: absolute;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  font-weight: 500;
  border-radius: 18px;
  letter-spacing: 2px;
}

main, header {
  width: 89%;
  max-width: 1440px;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

header {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
header nav {
  display: flex;
  flex-direction: row;
  gap: 64px;
}

footer {
  padding: 68px 0 36px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
}
footer p {
  margin-top: 30px;
  color: white;
  font-size: 24px;
  line-height: 34px;
}

.homePage, .aboutPage, .errorPage {
  gap: 50px;
}

.headerLogo {
  width: 210px;
}

.navItem {
  font-size: 24px;
  font-weight: 500;
  color: black;
}
.navItem.active {
  text-decoration: underline;
}

.footerLogo {
  height: 40px;
}

.homeBanner .banner__text {
  font-size: 48px;
}

.cardContainer {
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  justify-items: center;
  grid-gap: 50px;
  background-color: #F6F6F6;
  border-radius: 25px;
}

.valuesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.valuesContainer > .accordion {
  width: 80%;
}

.accommodationPage {
  gap: 28px;
}
.accommodationPage .accordion__title, .accommodationPage .accordion__icon {
  font-size: 18px;
}

.accommodationInfo__texts {
  margin-bottom: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.accommodationInfo__title, .accommodationInfo__location {
  color: #FF6060;
  font-weight: 500;
}
.accommodationInfo__title {
  font-size: 36px;
  line-height: 51.34px;
}
.accommodationInfo__location {
  color: black;
  font-size: 18px;
  line-height: 25.67px;
}
.accommodationInfo__secondary {
  display: flex;
  flex-direction: column;
}
.accommodationInfo__hostInfo {
  margin-bottom: 28px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}
.accommodationInfo__hostName {
  color: #FF6060;
  font-size: 18px;
  font-weight: 500;
  line-height: 25.67px;
  text-align: right;
}
.accommodationInfo__hostPicture {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.tagsContainer {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.ratingStarsContainer {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.ratingStar {
  color: #E3E3E3;
  font-size: 24px;
}
.ratingStar--full {
  color: #FF6060;
}

.accordionsContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 76px;
}
.accordionsContainer .accordion {
  width: -webkit-fill-available;
}

.error {
  padding: 48px 0 96px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FF6060;
}
.error__title {
  font-size: 288px;
  font-weight: 700;
}
.error__description {
  margin: 72px 0 0 0;
  font-size: 36px;
  font-weight: 500;
}
.error__link {
  margin-top: 144px;
  color: inherit;
  text-decoration: underline;
  font-size: 18px;
  font-weight: 500;
}

@media screen and (max-width: 767px) {
  header {
    margin-top: 20px;
  }
  header nav {
    gap: 26px;
  }
  footer p {
    font-size: 12px;
    line-height: 18px;
  }
  .headerLogo {
    width: 145px;
  }
  .navItem {
    font-size: 12px;
  }
  .homeBanner {
    padding: 0 16px;
  }
  .homeBanner .banner__text {
    font-size: 24px;
  }
  .cardContainer {
    padding: 0;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    background-color: transparent;
  }
  .cardContainer a {
    width: 100%;
    aspect-ratio: 1/1;
  }
  .cardContainer .card {
    width: 100%;
    height: 100%;
  }
  .accommodationInfo__texts {
    flex-direction: column;
  }
  .accommodationInfo__title {
    font-size: 18px;
    line-height: 26px;
  }
  .accommodationInfo__location {
    font-size: 14px;
  }
  .accommodationInfo__secondary {
    margin-top: 16px;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
  .accommodationInfo__hostInfo {
    margin-bottom: 0;
  }
  .accommodationInfo__hostName {
    font-size: 12px;
    line-height: 17px;
  }
  .accommodationInfo__hostPicture {
    width: 32px;
    height: 32px;
  }
  .ratingStarsContainer {
    gap: 5px;
  }
  .ratingStar {
    font-size: 13px;
  }
  .accommodationPage .accordion__title, .accommodationPage .accordion__content {
    font-size: 13px;
  }
  .accordionsContainer {
    flex-direction: column;
    gap: 20px;
  }
  .tag {
    min-width: 84px;
    font-size: 10px;
  }
  .carrousel {
    height: 255px;
    border-radius: 10px;
  }
  .carrousel__previous, .carrousel__next {
    font-size: 20px;
  }
  .carrousel__navInfo {
    bottom: 15px;
    font-size: 12px;
  }
  .error__title {
    font-size: 96px;
  }
  .error__description {
    margin-top: 113px;
    font-size: 18px;
  }
  .error__link {
    margin-top: 113px;
    font-size: 14px;
    color: black;
  }
  #root {
    gap: 27px;
  }
  .valuesContainer .accordion {
    width: 100%;
  }
  .accordion__header .accordion__title {
    font-size: 13px;
  }
  .accordion__header .accordion__icon {
    font-size: 18px;
  }
  .accordion__content {
    font-size: 13px;
  }
}